anthropic>=0.96.0
datasets
deepagents
faiss-cpu
fastmcp
google-cloud-aiplatform
langchain
langchain-anthropic
langchain-community
langchain-core>=0.3.86,<1.0.0
langchain-huggingface
langchain-openai
langgraph
mcp
openai
python-dotenv
ragas
requests
sentence-transformers
